NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
LAMELLE_INVITE_REDIRECT_URL=https://lamelle-3d-painel.vercel.app
LAMELLE_OWNER_EMAIL=
LAMELLE_PARTNER_EMAIL=
